# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Shares the current time
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
jobs:
  test:
    name: Completes a request
    runs-on: self-hosted
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Test build
        run: |
          nix develop -c go get
          nix develop -c make test
  release:
    name: Restarts the clock
    runs-on: self-hosted
    needs: test
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
    steps:
      - name: Tick tock
        run: systemctl restart quintus.service
