# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Shares the current time
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
jobs:
  test:
    name: Completes a request
    runs-on: self-hosted
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Install dependencies
        run: nix develop -c go get
      - name: Check formatting
        run: nix develop -c make check
      - name: Build binary
        run: nix develop -c make build
      - name: Run tests
        run: nix develop -c make test
      - name: Upload coverage results
        uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4.6.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  release:
    name: Restart the service
    runs-on: self-hosted
    needs: test
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
    steps:
      - name: Restart quintus service
        run: systemctl restart quintus.service
